{% extends 'base.html' %}

{% block content %}
<style>
  .card {
    height: 100%;
    margin-bottom: 20px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .my-card-row {
    margin-bottom: 20px; 
  }
  .icon {
    font-size: 36px;
  }
</style>
<div class="container">
  <div class="row my-card-row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-calculator"></i>
          <h5 class="exercise-title">Calculadora de Notas</h5>
          <a href="{{ url_for('calculadora_notas') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-file-invoice-dollar"></i>
          <h5 class="exercise-title">Cupom Fiscal</h5>
          <a href="{{ url_for('cupom_fiscal') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-money-check-alt"></i>
          <h5 class="exercise-title">Folha de Pagamento</h5>
          <a href="{{ url_for('folha_pagamento') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row my-card-row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-user-secret"></i>
          <h5 class="exercise-title">Investigação Criminal</h5>
          <a href="{{ url_for('investigacao_criminal') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-sort-numeric-down"></i>
          <h5 class="exercise-title">Ordenador de Números</h5>
          <a href="{{ url_for('ordenador_numeros') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-calculator"></i>
          <h5 class="exercise-title">Quantidade Centenas Dezenas Unidades</h5>
          <a href="{{ url_for('quantidade_centenas_dezenas_unidades') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row my-card-row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-square-root-alt"></i>
          <h5 class="exercise-title">Raízes da Equação de Segundo Grau</h5>
          <a href="{{ url_for('raizes_equacao_segundo_grau') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon fas fa-money-bill-wave"></i>
          <h5 class="exercise-title">Reajuste Salarial</h5>
          <a href="{{ url_for('reajuste_salarial') }}" class="btn btn-primary">Ir para o Exercício</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
